.App {
  font-family: 'Teko', sans-serif;
}

h1 {
  font-size: 8rem;
  text-align: center;
}

h2 {
 font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

button {
  border: 2px solid #12151a;
  background-color: #fff700;
  border-radius: 4px;
  width: 10rem;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
}

input {
  background-color: #12151a;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  width: 25rem;
  padding-left: 0.5rem;
}

button, input {
  height: 3rem;
}

button:hover {
  background-color:#12151a;
  color:#fff700;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

label {
  font-size: 0.8rem;
  color:#4e4e4e;
}

form p {
  color: #e62323;
  font-size: 0.6rem;
  font-family: sans-serif;
  padding: 0.2rem;
}

.profile {
  text-align: center;
  background-color: #12151a;
  border-radius: 3px;
  color:#fff700;
  margin: 1rem auto;
  padding: 1rem;
  width: 25rem;
}


@media screen and (max-width:600px) {

  h1 {
    font-size: 4rem;
  }

  .profile {
    width: 90%;
  }

  form {
    padding: 1rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 7rem;
  }
}


